<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">src/Unit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../drivers/</directory>
      <exclude>
        <directory suffix=".php">../vendor/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
